.about{
    display: flex;
}
.image-about {
  

}
.text-about{
    display: flex;
    flex-direction: column;

}
.text-about .p-who {
    color: blue;
    text-align: left;

}
footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}